{% extends "base.html" %}
{% load config %}
{% block page_title %}
    <h3>Abos</h3>
{% endblock %}

{% block content %}

    <div>Abos nach Periode</div><br/>
    <form class="form-inline" method="GET">
        <div class="form-group">
    		<label for="id_fromdate">Von</label> {{ daterange_form.fromdate }} 
            <label for="id_tilldate">Bis</label> {{ daterange_form.tilldate }} 
            {% if daterange_form.fromdate.errors %}
                <div class="alert alert-danger">Ungültiges Von Datum</div>
            {% endif %}
            {% if daterange_form.tilldate.errors %}
                <div class="alert alert-danger">Ungültiges Bis Datum</div>
            {% endif %}

        <div class="form-group">
            <button id="btn_submit" type="submit" class="btn">OK</button>
            <button id="btn_excel" type="submit" name="format" value="xlsx" class="btn">Export</button>
        </div>
    </form> 
    <br/><br/>
    <table class="list table" style="font-size: 14px;">
    	<thead>
	    	<tr>
	    		<th>Start</th>
	    		<th>Ende</th>
	    		<th>{% config "member_string" %}</th>
	    		<th>Anzahl</th>
	    		<th>Bezeichnung</th>
	    		<th>Konto {% config "member_string" %}</th>
	    		<th>Konto Abo</th>
	    		<th>Beitrag</th>
	    		<th>Rechnung</th>
	    	</tr>
    	</thead>
    	<tbody>
	        {% for s in subscriptions %}
	        <tr>
	        	<td>{{ s.activation_date | date:'d.m.Y' }}</td>
	        	<td>{{ s.deactivation_date | date:'d.m.Y' }}</td>
	        	<td>{{ s.primary_member }}</td>
	        	<td>{{ s.size }}</td>
	        	<td>{{ s.size_name }}</td>
	        	<td>{{ s.primary_member.member_allocation.allocation }}</td>
	        	<td>{{ s.subscription_allocation.allocation }}</td>
	        	<td>{{ s.price | stringformat:'6.2f' }}</td>
	        	<td>{{ s.amount_billed | stringformat:'6.2f' }}</td>
	        </tr>
	        {% endfor %}
	    </tbody>
    </table>
{% endblock %}
